.table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3.5rem;
  width: 100%;
  button {
    background-color: #009fe3;
    border: 1px solid #009fe3;
    border-radius: 1.5rem;
    font: 1.2rem/1 'Lato', sans-serif; 
    padding: .5rem 1rem;
    &:hover {
      background-color: transparent;
      border: 1px solid #edb800;
      color: #edb800;
      cursor: pointer;
    }
    .fas {
      margin-right: .5rem;
    }
  }
  button.copied {
    background-color: #3eac21;
    border: 1px solid #3eac21;
    &:hover {
      color: initial
    }
  }
  .git-command-row:nth-child(4n + 1):not(:first-child) {
    background-color: #222;
    @include md-(phone) {
      background-color: initial;
    }
  }
  .git-command-row {
    @include md-(phone) {
      border-bottom: 2px solid #222;
      position: relative;
    }
  }
  .git-command-row:nth-child(4n + 1):not(:first-child) .git-command-data {
    border-right: 1px solid #333;
    @include md-(phone) {
      border-right: 0;
    }
  }
  
  .cat-title .fas, 
  .cat-title .far {
    margin-right: 1rem;
  }
  .cat-title:nth-child(1) {
    font: 900 2rem/1 'Lato', sans-serif; 
    padding: 1rem;
    text-transform: uppercase;
    width: 40%;
    @include md-(phone) {
      text-align: left;
      width: 100%;
    }
  }
  .cat-title:nth-child(2) {
    width: 40%;
    @include md-(phone) {
      display: none;
    }
  }
  .cat-title:nth-child(3)  {
    width: 10%;
  }
  .cat-command {
    background-color: #ccc;
    color: #333;
    text-align: left;
    @include md-(phone) {
      text-align: center;
    }
  }
  .git-command-data {
    color: #fff;
    font: 1.5rem/1.2 'Lato', sans-serif; 
    padding: 1.2rem;
    text-align: left;
    border-right: 1px solid #222;
    vertical-align: middle;
    &:nth-child(2) {
      color: #009fe3;
      @include md-(middle-phone) {
        padding: .5rem 2rem 1rem 0;
      }
    }
    &:nth-child(3) {
      border: none;
      text-align: center;
      width: 10%;
      @include md-(phone) {
        text-align: right;
        position: relative; right: 0; top: 0;
        width: 100%;
      }
    }
    @include md-(phone) {
      padding: 0 0 1rem 0;
      border-right: 0;
      &:first-child {
        display: none;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
  .alt-header {
    display: none;
    .cat-command-title{
      text-align: left;
      font: 1.5rem/1.5 'Lato', sans-serif;
      padding: 1rem 0 0;
    }
    @include md-(phone) {
      display: table-row;
    }
  }
}
