@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');

@font-face {
  font-family: 'collegiateregular';
  src: url('../fonts/collegia-webfont.woff2') format('woff2'),
      url('../fonts/collegia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}