@use '../abstracts' as *;

.container {
  max-width: 1120px;
  margin-inline: auto;
  padding-inline: $space-4;
  padding-block: $space-6;
  width: 100%;
  @media (min-width: 1024px) {
    padding-block: $space-6;
  }
}


