/*------------------------------------*\
  $ MQ
\*------------------------------------*/
@mixin md-($breakpoint) {
  @if $breakpoint == desktop {
    @media (max-width: 1800px) { 
      @include breakpoint(green);
      @content;
    }
  }
  @if $breakpoint == tab {
    @media (max-width: 980px) { 
      @include breakpoint(purple);
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (max-width: 600px) { 
      @include breakpoint(gold);
      @content;
    }
  }
  @if $breakpoint == middle-phone {
    @media (max-width: 540px) { 
      @include breakpoint(dodgerblue);
      @content;
    }
  }
  @if $breakpoint == medium-phone {
    @media (max-width: 420px) { 
      @include breakpoint(orange);
      @content;
    }
  }
  @if $breakpoint == small-phone {
    @media (max-width: 320px) {  
      @include breakpoint(red);
      @content;
    } 
  }
}

/*------------------------------------*\
  $ BREAKPOINT INDICATOR
\*------------------------------------*/
@mixin breakpoint($color) {
  @at-root body {
    border-top: 6px solid $color;
  }
}

/*------------------------------------*\
  $ LINK
\*------------------------------------*/
@mixin link {
  a {
    color: #009fe3;
    text-decoration: none;
    &:hover {
      color: #edb800;
    }
  }
}